<style>
        * {
          box-sizing: border-box;
        }
        
        .menu {
          float: left;
          width: 20%;
          text-align: center;
        }
        
        .menu a {
          background-color: #b37400;
          padding: 8px;
          margin-top: 7px;
          display: block;
          width: 100%;
        }
        
        .main {
          float: left;
          width: 60%;
          padding: 0 20px;
        }
        
        .right {
          background-color: #b37400;
          float: right;
          width: 20%;
          padding: 15px;
          margin-top: 7px;
          text-align: center;
        }
        
        @media only screen and (max-width: 620px) {
          /* For mobile phones: */
          .menu, .main, .right {
            width: 100%;
          }
        }
        </style>